<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>OpenPhoto</string>
	<key>CFBundleDisplayName</key>
	<string>OpenPhoto</string>
	<key>CFBundleIdentifier</key>
	<string>com.yuanzhixiang.openphoto</string>
	<key>CFBundleExecutable</key>
	<string>openphoto</string>
	<key>CFBundleIconFile</key>
	<string>OpenPhoto</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 yuanzhixiang. MIT OR Apache-2.0.</string>
</dict>
</plist>
